@charset "utf-8";
/* CSS Document */

.text_block {
    padding: 20px 0;
}

.text_block input,
.text_block [contenteditable]{
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

/*
.text_block img {
    max-width: 100%;
    margin-bottom: 15px;
}

.text_block.withBorder img {
    border: 1px solid #e8e8eb;
}

.text_block.withBackground {
    background: #eff2f5;
    padding: 10px;
}

.text_block.withBackground img {
    display: block;
    max-width: 60%;
    margin: 0 auto 15px;
}*/
